@import '~swiper/dist/css/swiper.min.css';

#slothead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  mat-toolbar {
    display: flex;
    justify-content: center;
  }
  .slotreel {
    position: relative;
    width: 300px;
    overflow: hidden;
    margin: 1rem auto 0;
    outline: 1px solid #ccc;
    padding: 0 30px;
    background-color: #fff;
    color: #252525;

    .swiper-container {
      width: 80px;
      height: 210px;
      float: left;
      .swiper-slide {
        text-align: center;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        transition: opacity 0.3s ease;
        cursor: default;
        font-weight: bold;
        -webkit-tap-highlight-color: transparent;
        img {
          width: inherit;
          height: inherit;
          object-fit: contain;
        }
      }
    }
    .top-vizor {
      height: 33.33%;
      position: absolute;
      top: 0%;
      left: 1rem;
      right: 1rem;

      font-size: 2rem;
      line-height: 62px;
      background-color: white;
      transition: background-color 1s ease;
    }
    .center-vizor {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      height: 33.33%;
      position: absolute;
      top: 50%;
      left: 1rem;
      right: 1rem;
      transform: translateY(-50%);
      font-size: 2rem;
      line-height: 62px;
      background-color: white;
      transition: background-color 1s ease;
    }
    .bot-vizor {
      height: 33.33%;
      position: absolute;
      top: 100%;
      left: 1rem;
      right: 1rem;
      transform: translateY(-100%);
      font-size: 2rem;
      line-height: 62px;
      background-color: white;
      transition: background-color 1s ease;
    }
  }
  mat-slide-toggle {
    margin-bottom: 20px;
  }
  mat-hint {
    display: flex;
    justify-content: center;
  }
  mat-form-field {
    margin-top: 50px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    mat-form-field-wrapper {
      width: 100%;
      input {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
    }
  }
  mat-divider {
    margin-top: 30px;
    height: 1px;
    width: 100%;
    background: #252525;
    margin-bottom: 30px;
  }

  button {
    width: 100%;
    height: 50px;
    font-size: 2.5em;
  }
  * {
    box-sizing: border-box;
  }

  .grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);

    div {
      height: 25px;
      width: 100%;
      background-color: white;
      transition: background-color 1s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: inherit;
        height: inherit;
        object-fit: contain;
      }
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
